<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="BaseDirectory" value="c:\Workspace\MobileUpdater\MAUFiles" />
		<add key="DeveloperId" value="yogesh@bottlecapps.com"/>
		  <!--<add key="LiquorAppsConnectionString" value="Data Source= liquor-new.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=Stagingliquorapps ; User ID=sourabh;Password=Sourabh@2775;MultipleActiveResultSets=True" />-->  
 
       <!--<add key="LiquorAppsConnectionString" value="Data Source= Nithin-Laptop;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True"/>-->

		<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>
		<add key="differentQty" value="12007"/>
    <add key="differentstores" value="12103;12274"/>
    <add key="PriceQuantity" value="12043,12007;12103"/>
	<add key="StaticQuantity" value="12374;12453;12562"/>  
   <add key="ExcludeCategories" value="12634;12635"/>



	
	
  </appSettings>
	
	<system.net>
		<mailSettings>
			<smtp from="no-reply@bottlecapps.com">
				<network host="email-smtp.us-east-1.amazonaws.com" port="587" userName="AKIAQBWLIRVIDP4TCQ2C" password="BOWByfOnl3mQDlGgwAR9H3a9HRfwCtFATkvKPrT+DCba" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>